<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.entry}">입력 화면</title>
</head>
<body>
  <!--ValidationController에 @PostMapping("calc")로 변수 전달-->
  <form th:action="@{/calc}" method="post" th:object="${calcForm}">
    <div>
      <input type="text" th:field="*{leftNum}">
      +
      <input type="text" th:field="*{rightNum}">
    </div>
    <input type="submit" th:text="#{button.send}">

<!--    // error 일떄만 실행-->
    <ul th:if="${#fields.hasErrors('*')}">
      <li th:each="err:${#fields.errors('*')}" th:text="${err}"></li>
    </ul>
  </form>
</body>
</html>