@charset "utf-8";
html {
    overflow-y: scroll;
}
* {
    margin: 0;
    padding: 0;
}

li,
ol,
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}

.fl {
    float: left;
}

body {
    /* background: url(../bg.png); */
}

.balloon {
    background: skyblue;
    color: #ffffff92;
    padding: 10px;
    position: absolute;
    display: none;
    border-radius: 5px;
    font-weight: bold;
}

/* 헤더  탑*/
.h_top {
    height: 31px;
    width: 100%;
    /* opacity: 0.3; */
    border-bottom: solid 1px #ccc;
}

.h_top ul {
    margin: 0 auto;
    display: flex;
    width: 1260px;
}

.h_top ul li:first-of-type {
    border-left: solid 1px #ccc;
}
.h_top ul li {
    border-right: solid 1px #ccc;
    padding: 5px 10px;
    font-size: 11px;
    color: #505360;
}

/* 헤더 미들 */

.h_middle {
    height: 96px;
    width: 1260px;
    margin: 0 auto 3px;
    line-height: 96px;
}

.h_middle,
.lnb {
    display: flex;
    justify-content: space-around;
}

.h_middle_left h1 {
    width: 205px;
    height: 58px;
    transform: translateY(20px);
}

.h_middle_right select {
    width: 120px;
    height: 31px;
    border-radius: 3px;
    border: solid #ccc 1px;
}
#search {
    width: 380px;
    height: 40px;
    border-radius: 25px;
    border: solid #ccc 1px;
}
.search_img {
    transform: translate(-50px, 12px);
    cursor: pointer;
}
.ic {
    display: block;
}
.ic:first-child {
    transform: translateY(38px);
}
.ic:last-child {
    transform: translate(15px, 38px);
}
.lnb {
    height: 75px;
    transform: translateY(-10px);
}
.lnb li a {
    height: 75px;
    display: block;
    padding: 29px 8px 2px;
    font-size: 13px;
}

/* gnb */
.h_bottom {
    width: 100%;
    height: 48px;
    line-height: 48px;
}
.h_bottom .gnb {
    width: 1260px;
    margin: 0 auto;
}
.h_bottom .gnb > ul {
    display: flex;
    justify-content: space-evenly;
}

.h_bottom .gnb > ul > li {
    text-align: center;
    position: relative;
    height: 50px;
}
.h_bottom .gnb > ul > li > a {
    font-size: 20px;
    font-weight: bold;
    display: block;
    padding: 5px 30px;
}
.h_bottom .gnb > ul > li > a:hover {
    color: #336fb5;
}
.gnb > ul > li > a:hover + .sub {
    background-color: #f5f5f5;
    transform: translateY(3px);
}
.h_bottom_wrap {
    border-top: 2px solid #336fb5;
    border-bottom: 1px solid #336fb5;
}

/* 서브메뉴서식 */
.gnb > ul:hover .sub {
    display: block;
}

.sub {
    position: absolute;
    left: 0;
    top: 48px;
    width: 100%;
    height: 500px;
    text-align: center;
    transition: 0.8s;
    display: none;
    z-index: 10;
    transition: 0.5s;
    font-size: 16px;
}

.gnb > ul > li:first-child .sub {
    padding-left: 200px;
    left: -200px;
}
.gnb > ul > li:last-child .sub {
    padding-right: 600px;
    right: 0;
}

/* footer영역 */

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 178px;
}

.f_nav {
    font-size: 14px;
    display: flex;
    width: 1260px;
    margin: 0 auto;
    height: 53px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.family_site select {
    height: 25px;
    margin-right: 10px;
}
.family_site {
    padding-top: 10px;
    height: 25px;
    display: flex;
}
.f_nav ul {
    width: 1260px;
    height: 34px;
    line-height: 53px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}
.f_nav ul li {
    padding: 0 10px;
}
.f_bottom {
    width: 302px;
    display: flex;
    transform: translateX(20px);
}
.f_bottom img:first-child {
    width: 64px;
    height: 66px;
    transform: translateY(10px);
}
.f_bottom img:nth-child(2) {
    width: 90px;
    height: 39px;
    transform: translateY(5px);
}
.f_bottom img:last-child {
    width: 114px;
    height: 18px;
    transform: translateY(20px);
}
.ad {
    font-size: 13px;
    font-style: normal;
    line-height: 30px;
}
.f_bottom_wrap {
    display: flex;
    width: 1260px;
    margin: 0 auto;
}
